[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
spotipy = "*"
flask = "*"
pathlib = "*"
ytmusicapi = "*"
yt-dlp = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
