body {
    font-family: Arial, sans-serif;
    background-color: #1A1F24;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
}

body>div.container {
    background-color: #262D34;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

header>img.logo {
    display: block;
    width: 200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    color: rgb(243, 188, 79);
    font-family: "Righteous", sans-serif;
    font-size: 30px;
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
}

a {
    color: rgb(243, 188, 79);
    text-decoration: none;
}

.col {
    line-height: 14px;
}

button {
    margin-top: 15px;
    width: 200px;
}

header.step {
    margin-top: 20px;
}

header.step h3 {
    font-weight: bold;
    margin: 0;
}

p.tagline {
    font-size: 14px;
    margin-bottom: 0;
    font-style: italic;
}
.row > .col > header.step > p.tagline {
    margin-top: 5px;
}

#includeZeroScoreSongsCheck {
    margin-top: 5px;
}
#includeZeroScoreSongsCheck label.form-check-label {
    margin-top: 4px;
}
#includeZeroScoreSongsCheck p.tagline {
    margin-top: 5px;
}

div#musicsourcesRow {
    padding-left: calc(var(--bs-gutter-x) * .8);
    padding-right: calc(var(--bs-gutter-x) * .8);
}

.musicsource {
    padding: 0 1em;
}

.musicsource .logoRow {
    min-height: 8vh;
    text-align: center;
}

.musicsource .logoRow img {
    object-fit: contain;
    margin: 0 auto;
}

.musicsource .notesRow {
    min-height: 6vh;
    text-align: left;
    font-size: 15px;
}

.musicsource .notesRow input {
    width: 100%;
    height: 2.5em;
}

.musicsource .buttonRow {
    min-height: 3vh;
}

#loadingSpinner {
    vertical-align: bottom;
    margin: 0 10px 4px 10px;
}

.karaokeSheetLink {
    color: lightgreen;
    font-size: 24px;
}

#errorsModaliFrame {
    width: 100%;
    height: 500px;
}

.musicsource img {
    max-width: 150px;
}

.authedButton {
    display: none;
}

body.spotify_authenticated #spotifyAuthedButton {
    display: inline;
}

body.spotify_authenticated #spotifyAuthButton {
    display: none;
}

body.lastfm_authenticated #lastfmAuthedButton {
    display: inline;
}

body.lastfm_authenticated #lastfmAuthButton {
    display: none;
}


body.applemusic_authenticated #applemusicAuthedButton {
    display: inline;
}

body.applemusic_authenticated #applemusicAuthButton {
    display: none;
}


body.youtube_authenticated #youtubeAuthedButton {
    display: inline;
}

body.youtube_authenticated #youtubeAuthButton {
    display: none;
}

body.google_authenticated #googleAuthedButton {
    display: inline;
}

body.google_authenticated #googleAuthButton {
    display: none;
}